
   
</div>

<footer class="footer">
 <div class="footer-content">
            <div class="container">
                <div class="row">   
		<div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Company</h3>
                            <ul class="list-unstyled">
                                <li><a href="//elektropay.com/company/about/"><i class="fa fa-caret-right"></i>Who we are</a></li>
                                <li><a href="//elektropay.com/company/press/"><i class="fa fa-caret-right"></i>Press</a></li>
                                <li><a href="https://blog.elektropay.com/"><i class="fa fa-caret-right"></i>Blog</a></li>
                                <li><a href="//elektropay.com/company/careers/"><i class="fa fa-caret-right"></i>Jobs</a></li>
                                <li><a href="//elektropay.com/contact/"><i class="fa fa-caret-right"></i>Contact us</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
			
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Product</h3>
                            <ul class="list-unstyled">
                                <li><a href="//elektropay.com/product/features/"><i class="fa fa-caret-right"></i>Features</a></li>
                                <li><a href="//elektropay.com/product/how-it-works/"><i class="fa fa-caret-right"></i>How it works</a></li>
                                <li><a href="https://api.elektropay.com/"><i class="fa fa-caret-right"></i>API</a></li>
                                <li><a href="//elektropay.com/pricing/"><i class="fa fa-caret-right"></i>Pricing</a></li>
                            </ul>
                          </div>
                    </div> 
					
			<div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Resources</h3>
                            <ul class="list-unstyled">
                                <li><a href="//elektropay.com/faqs/"><i class="fa fa-caret-right"></i>Help</a></li>
                                <li><a href="https://info.elektropay.com/resources/"><i class="fa fa-caret-right"></i>Resources</a></li>
				<li><a href="https://docs.elektropay.com/"><i class="fa fa-caret-right"></i>Documentation</a></li>
                                <li><a href="https://dev.elektropay.com/"><i class="fa fa-caret-right"></i>Dev Portal</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->  
			
			<div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Support</h3>
                            <ul class="list-unstyled">
                                <li><a href="//support.elektropay.com/"><i class="fa fa-caret-right"></i>Help</a></li>
                                <li><a href="//docs.elektropay.com/"><i class="fa fa-caret-right"></i>Documentation</a></li>
				<li><a href="//elektropay.com/legal/privacy/"><i class="fa fa-caret-right"></i>Privacy</a></li>
                                <li><a href="//elektropay.com/legal/terms/"><i class="fa fa-caret-right"></i>Terms</a></li>
                            </ul>
        </div>
                    </div>   
			
		<div class="footer-col download col-md-4 col-sm-6 col-xs-12 sm-break">
                        <div class="footer-col-inner">
                            <h3 class="title">Downloads</h3>
                            <ul class="list-unstyled download-list sm-break">
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-apple"></i><span class="text"> Download for iOS</span> </a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-android"></i><span class="text"> Download for Android</span></a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-windows"></i><span class="text"> Windows coming soon...</span></a></li>
                            </ul>
                        </div>
                    </div>
                          <div class="clearfix"></div> 
                </div>
		    
			 <div class="row has-divider">
                    <div class="footer-col connect col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                          <div class="form-container">
                                <p class="intro">Stay up to date with the latest news and offers from Elektropay</p>
                                <form class="signup-form navbar-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                    </div>   
                                    <button type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>                                 
                                </form>                               
                            </div>
                        </div>
                    </div>
                    <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Connect</h3>
                              <ul class="social list-inline">
                                <li><a href="//twitter.com/Elektropay"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="//facebook.com/elektropay"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="row-end"><a href="#"><i class="fa fa-github"></i></a></li>            
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//download-->
			
                 
		    
                    <div class="hidden footer-col contact col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Contact us</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address">College Green</span><br>
                                    <span class="region">56 College Green Road</span><br>
                                    <span class="postal-code">BS1 XR18</span><br>
                                    <span class="country-name">US</span>
                                </span>
                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>1 800 566 6003</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="mailto:hey@elektropay.com">hey@elektropay.com</a></p> 
                            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.a0ec3119d8db2bc5422f2144c89ad7a9.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=everpay&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1489551407391" style="position: static; visibility: visible; width: 160px; height: 20px; margin-top:5px;" data-screen-name="everpay"></iframe>
<script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>                        
                        </div>
                    </div>
		       <div class="clearfix"></div> 
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="container">             
<div class="row copy inner text-center">
            <div class="col-md-5 col-sm-6 col-xs-12">
        <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1497453042/elektropay/assets/img/logo.png" class="copy-image pull-left logo" width="92px">
		<p class="text-left">is a service of Everpay. &copy; 2017 Everpay </p>
            </div>
	
	<div class="col-md-2 col-sm-6 col-xs-12 m-top-lg-5 m-top-md-5 m-top-sm-5">	
		<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.a0ec3119d8db2bc5422f2144c89ad7a9.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=everpay&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1489551407391" style="position: static; visibility: visible; width: 160px; height: 20px;" data-screen-name="everpay"></iframe>
	</div>
	
	<div class="col-md-5 col-sm-6 col-xs-12 m-top-lg-5 m-top-md-5 m-top-sm-5"> 
	<a class="cpl-link2" href="//elektropay.com/legal/privacy/" target="_rel">Privacy</a>
	<a class="cpl-link1" href="//elektropay.com/legal/security/" target="_rel">Legal</a> 
	<a class="cpl-link0" href="/" target="_blank" data-status-link-for="elektropayapp" title="Visit our status page">System Status</a>
        </div>
		
          </div>

		   </div>
        </div>
    </footer>

</div>

  <script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>                        
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
   <script type="text/javascript" src="//cdn.everpayinc.com/js/plugins/classie/classie.js"></script>
   <script type="text/javascript" src="//cdn.everpayinc.com/js/plugins/owl-carousel/owl.carousel.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.3/isotope.pkgd.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
   <script type="text/javascript" src="//cdn.everpayinc.com/js/plugins/modernizr/modernizr-custom.js"></script>
   <script type="text/javascript" src="//cdn.everpayinc.com/js/plugins/aos/aos.js"></script>
    <script type="text/javascript" src="//cdn.everpayinc.com/js/plugins/loaders-css/loaders.css.js"></script>
   <script type="text/javascript" src="//cdn.everpayinc.com/js/back-to-top.js"></script>
<script type="text/javascript" src="//cdn.everpayinc.com/elektropay/assets/js/elektropay.js"></script>
<script type="text/javascript" src="//cdn.everpayinc.com/js/site.js"></script>
<script type="text/javascript" src="//cdn.everpayinc.com/js/universal.js"></script>
<script type="text/javascript" src="//cdn.everpayinc.com/js/form.js"></script>

